<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title>Base Home</title>
 </head>
<body>
    <div class="page_header">
        <div class="page_header_left">
            
        </div>
        <div class="page_header_middle">
            <h1 class="header_title">Base Home</h1>
        </div>
        <div class="page_header_right">
            
        </div>
    </div>
    <div class="page_content">
        <div class="base_home_content">
            <button type="button" class="content_button_link" onclick="window.location.href='/show/coursecontent/2'">Program A - Developing basic research capacities - 30-Day DTR</button>
            <button type="button" class="content_button_link" onclick="window.location.href='/show/coursecontent/12'">Program F - 30-day research publication preparation</button>
        </div>
    </div>
</body>
</html>